* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e6e6;
}

p {
    font-size: 18px;
}

h2 {
    margin-bottom: 20px;
}

.navbar {
    background-color:#34495e !important; /* Changes the background colour of the navbar to match the logo colour. Use of important override bootstrap CSS*/
    box-shadow: 0 5px 10px #f1c40f29;
    height: 90px;
    margin-bottom: 20px;
}

.nav-link {
    padding: 0px !important; /* Removing unwanted padding from Navbar links. Use of !important to override bootstrap CSS */
}

.navbar-nav a {
    color: #f1c40f !important; /* Changes the colour of the nav links to match the logo colour. Use of important override bootstrap CSS*/
    font-size: 22px;
    margin-right: 24px; /* Indenting the Navbar Links on the right side of the page. Indentation matches the left side of the logo */
}

a:hover {
    color: darkorange !important; /* Changes the colour of links when highlighted */
}


.logo {
    margin-left: 24px; /* Indenting the logo out from the left side of the page. Indentation matches the right side of the Navbar links */
    height: 60px; 
}

.card {
    width: 100%;
    padding: 25px;
    /* border-style:solid; 
    border-width: 2px;
    border-color: black; */
}

/* About Me heading styling to match other h2 elements */
.card-title {
    margin-bottom: 20px;
}

/* About Me image styling */
.card-img-top { 
    max-height: 315px;
    max-width: 350px;
    margin-bottom: 12px;
}

.card-body {
    padding: 0px !important; /* Removes padding from card body text. Use of !important to override Bootstrap CSS */
}

/* Contact form styling */
.contact {
    background-color: white;
    padding: 25px;
}

/* Font size for the contact form labels */
label {
    font-size: 18px;
}


.btn-primary {
    font-size: 20px;
    background-color:#34495e;
    border-color: #34495e;
    color: #f1c40f;
}

/* Changing the hover styling for the Contact Form button to match the hover styling of the links in the navbar */
.btn-primary:hover {
    background-color:#34495e;
    border-color: #34495e;
    color:darkorange;
}

/* .portfolio-row { 
    background: white;
}*/

.portfolio {
    background-color: white;
    padding: 25px;
}

.portfolio-img {
    margin: 58px auto 0px auto;
}

.portfolio-img-lead {
    margin: 0px auto !important;
}

/* Styling for extra small screens 767px and below */
@media screen and (max-width: 767px) {

    /* Hides the normal navbar on XS screens. */
    .navbar {
        display:none;
    }

    /* Styling for the XS header containing logo */
    .header-xs {
        background-color: #34495e;
        width: 100%;
        height: 86px;
        padding: 10px 16px 10px 16px;
    }

    .logo {
        display: block;
        margin: auto;  
        height: 60px;
        width: auto;
    }

    /* Styling for the XS navbar */
    .nav-xs {
        background-color: #34495e;
        width: 100%;
        height: 46px;
        padding: 0px 16px 12px 16px;
        margin-bottom: 20px;
        /* box-shadow: 0 5px 10px #f1c40f29; */
    }

    /* Centres the navbar menu items under the logo */
    .navbar-expand-sm {
        justify-content: center;
    }

    /* Spaces out the navbar link items */
    .navbar-nav .nav-link {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Allows for extra small nav bar to work on all screen sizes between 0-767px wide */
@media (min-width: 0px) {
    .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    }
}    

/* Hides extra small nav bar on screens 786px wide or more */
@media screen and (min-width: 768px) {
    
    .header-xs {
        display:none;
    }

    .nav-xs {
        display:none;
    }
}